<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
      <link rel="stylesheet" href="/css/bootstrap.min.css">
   </head>

   <body>
      <div class="container">


         <h1><%= books.name %> </h1>
         <h2><%= books.author %></h2>


         <h3>Description:</h3>
         <p><%= books.description %> </p>

         <h3>Details:</h3>
         <p>Name: <%= books.name %></p>
         <p>Author: <%= books.author %></p>
         <p>LoC Classification: <%= books.lcClass %> </p>
         <p>Publisher: <%= books.publisher %> </p>
         <p>Year: <%= books.year %> </p>
         <p>Category: <%= books.category %> </p>

         <p>
            Keywords:
            <% for (let i = 0; i<books.keywords.length; i++){%>
            <%= books.keywords[i] %><%= i === books.keywords.length - 1  ? "" : "," %>
            <%}%>
         </p>
         
         <a href="/index/details/<%= books.id %>/edit ">edit</a><a href="/index">go back</a>


      </div>
   </body>

</html>
<!--    
   name: { type: String, required: true },
   author: { type: String, required: true },
   publisher: { type: String, required: true },
   year: { type: Number, required: true },
   category: { type: String, required: false },
   keywords: { type: [String], required: false },
   lcClass: { type: String, required: true },
   description: { type: String, required: false }
 -->